useDynLib(NeQTL, .registration=TRUE)
importFrom("stats", "density", "ecdf", "quantile", "runif")
importFrom("Rcpp", "evalCpp")
importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "hist", "legend", "lines", "par")
importFrom("ROCR", "prediction", "performance")
importFrom("RColorBrewer")
export(GetHist2)
export(Dist_SNP_Gene)
export(Balancing_Dist)
export(Mod_Gold_Label)
export(Generate_skl)
export(Run_NeQTL2)
export(Check_Variable)
export(Compute_Accuracy)
export(Draw_Adjusted_ROC)
#exportPattern("^[[:alpha:]]+")


